.action-btns {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  > * {
    margin-left: 10px;
  }
}

.clear-btn {
  color: white;
  cursor: pointer;

  &:hover {
    color: #f3e5f5;
  }
}

.edit-btn {
  background-color: #ce93d8;
  color: #6a1b9a;
  height: 32px;
  width: 32px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 8px 10px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  user-select: none;
  &:hover {
    background-color: #ba68c8;
    color: #4a148c;
  }
  > svg {
    font-size: 21px;
  }
}

.card-info-table {
  display: grid;
  grid-template-columns: 100px 1fr;
  > div:nth-child(odd) {
    text-align: right;
  }
  > div:nth-child(even) {
    padding-left: 20px;
    text-align: left;
  }
}
