@import "./components/login.less";
@import "./components/frame.less";
@import "./components/main.less";
@import "./components/directory.less";
@import "./components/selectedMember.less";
@import "./components/newMember.less";
@import "./components/tableCard.less";
//@import "./components/main.less";

* {
    box-sizing: border-box;
}
html, body {
    font-family: Arial, sans-serif;
    font-family: 'Roboto', sans-serif;
    color: #242b48;
    text-align: center;
    font-size: 16px;
    margin: 0;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    position: fixed;
    overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;
}

//General Rules
.flex-direction-left {
  flex-direction: row !important;
}

.flex-direction-right {
    flex-direction: row-reverse !important;
}

.dashboard-header {
  font-weight: bold;
  color: #212121;
  text-align: left;
  font-size: 24px;
  height: 28px;
}
.dashboard-subheader {
  font-weight: bold;
  color: #9E9E9E;
  text-align: left;
  font-size: 16px;
  height: 20px;
}
.user-portrait {

}

//Dashboard Component
.dashboard-container {
  //display: grid;
  //grid-template-columns: 200px 1fr;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  .dashboard-main {
    position: fixed;
    width: calc(100% - 75px);
    height: calc(100% - 75px);
    top: 75px;
    left: 75px;
    padding: 50px 75px;
    background-color: #F5F5F5;
    overflow: auto;
  }
}

.action-bar-container {
  border-bottom: 1px solid #BDBDBD;
  padding: 5px;
  display: flex;
  flex-direction: row-reverse;
  .icon-button-frame {
    button {
      width: 40px;
      height: 40px;
      padding: 8px;
    }
    width: 40px;
    height: 40px;
  }
}

.side-bar-container {
  background-color: #4A148C;
  border-right: 1px solid #BDBDBD;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  div, span {
    color: white !important;
  }
}

.top-bar-container {
  border-bottom: 1px solid #BDBDBD;
  display: grid;
  grid-template-columns: 100px 1fr;
  width: 100%;
  .search-field {
    width: 95%;
  }
  input {
    font-size: 42px;
  }
  > .icon-holder {
    color: #4A148C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    > svg {
      margin: 0 auto;
      font-size: 42px;
    }
  }
}

.members-table-container {
  max-height: 100vh;
  overflow: auto;
  .members-table-head {
    th {
      background: white;
      position: sticky;
      top: 0;
    }
    th:after {
      content:'';
      position:absolute;
      left: 0;
      bottom: 0;
      width:100%;
      border-bottom: 1px solid rgba(224, 224, 224, 1);
    }
  }
  .members-table-body {
  }
}
