
* {
    box-sizing: border-box;
}
html, body {
    font-family: Arial, sans-serif;
    color: #242b48;
    text-align: center;
    font-size: 14px;
    margin: 0;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
}

#app {
}

.login-container {
  display: grid;
  grid-template-columns: 200px;
  width: 200px;
  margin: 0 auto;
}

.dashboard-container {
  display: grid;
  grid-template-columns: 200px 1fr;
  height: 100vh;
  overflow: hidden;
  .dashboard-main {
    display: grid;
    grid-template-rows: 100px 1fr;
  }

}

.side-bar-container {
  border-right: 1px solid #BDBDBD;
}

.top-bar-container {
  border-bottom: 1px solid #BDBDBD;
  display: grid;
  grid-template-columns: 100px 1fr;
  width: 100%;
  .search-field {
    width: 95%;
  }
  input {
    font-size: 42px;
  }
  > .icon-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    > svg {
      margin: 0 auto;
      font-size: 42px;
    }
  }
}

.members-table-container {
  max-height: 100vh;
  overflow: auto;
  .members-table-head {
    th {
      background: white;
      position: sticky;
      top: 0;
    }
    th:after {
      content:'';
      position:absolute;
      left: 0;
      bottom: 0;
      width:100%;
      border-bottom: 1px solid rgba(224, 224, 224, 1);
    }
  }
  .members-table-body {
  }
}
